{
    "dbinfo": {
        "dbname": "SAMPLE",
        "host": "SAMPLE",
        "sqliteloc": "sqlite:////path/to/matchbot/matches.db",
        "username": "SAMPLE",
        "password": "SAMPLE"
    },
    "defaultmentor": "default",
    "greetings": {
        "matchgreeting": "Welcome! Thank you for your interest in the Co-op. [[User:{0}|{0}]] has listed \"{1}\" in their mentorship profile. Leave them a message on their talk page and see if you want to work together!",
        "matchtopic": "Welcome to the Co-op! We have a mentor for you.",
        "nomatchgreeting": "Sorry, we don't have a match for you! [[User:{0}|{0}]] will be in touch with you to find you one.",
        "nomatchtopic": "Welcome to the Co-op!"
    },
    "login": {
        "password": "SAMPLE",
        "protocol": "https",
        "site": "test.wikipedia.org",
        "useragent": "MatchBot, based on mwclient v0.6.5. Run by User:NAME, EMAIL",
        "username": "SAMPLE"
    },
    "pages": {
        "CATCHALL": "Category:Co-op mentors with general editing skills",
        "NOMENTEES": "Category:Co-op mentor not taking new requests",
        "basecats": [
            "best practices",
            "communication",
            "writing",
            "general editing",
            "technical editing"
        ],
        "lcats": [
            "Category:Co-op/Requests/Best practices",
            "Category:Co-op/Requests/Communication",
            "Category:Co-op/Requests/Writing",
            "Category:Co-op/Requests/Other",
            "Category:Co-op/Requests/Technical editing"
        ],
        "mcats": [
            "Category:Co-op mentors with best practice skills",
            "Category:Co-op mentors with communication skills",
            "Category:Co-op mentors with writing skills",
            "Category:Co-op mentors with general editing skills",
            "Category:Co-op mentors with technical editing skills"
        ],
        "prefix": "Wikipedia:Co-op/",
        "requestsprefix": "Wikipedia:Co-op/Requests/",
        "talkprefix": "Wikipedia talk:Co-op/"
    }
}
